* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-container {
  /* border: 1px solid blue; */
  max-width: 1200px;
  margin: 0 auto;
  background: rgb(240, 240, 240);
}

.menu {
  border-bottom: 1px solid rgb(202, 202, 202);
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: rgb(136, 134, 134);
  /* border: 1px solid red; */
  /* padding-bottom: 9px; */
}

.home {
  /* border: 1px solid red; */
  flex: 6;
  /* display: block; */
}
.profile {
  margin: 0 20px;
}
.login {
  /* border: 1px solid blue; */
  flex: 1;
  text-align: center;
}

.register {
  /* border: 1px solid green; */
  flex: 1;
  display: block;
  text-align: center;
}

.active {
  font-weight: bold;
  border-bottom: 1px solid rgb(22, 101, 167);
  color: rgb(106, 106, 228) !important;
}

.logout-btn {
  /* background: red; */
  /* padding: 2px; */
  color: rgb(106, 106, 228);
  border: none;
  font-weight: bold;
  background: inherit;
  cursor: pointer;
}

.login-link {
  /* border: 1px solid red; */
  padding: 0;
  margin: 4px;
  border-radius: 4px;
  text-align: center;
  padding: 8px;
  background: rgb(106, 106, 228);
  cursor: pointer;
}

.login-link a {
  text-decoration: none;
  color: rgb(211, 211, 211);
  font-weight: bold;
  font-size: 0.9rem;
}

.login-link a:hover {
  color: white;
}

.loading {
  border: 1px solid red;
  position: absolute;
  top: 100px;
  left: 35%;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 400px;

  z-index: 1;
}

.home-container {
  /* border: 1px solid red; */
  /* display: flex; */
  display: flex;
}

.side-menu {
  border-right: 2px solid rgb(255, 255, 255);
  flex: 1;
}
/* POSTS CONTAINER STYLES */
.posts-container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  flex: 2;
}

/* USERS TO FOLLOW STYLES  */
.users-to-follow {
  border-left: 2px solid rgb(255, 255, 255);
  flex: 1;
}
