.users-to-follow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  /* border: 1px solid red; */
  padding: 6px;
  font-size: 1rem;
  margin: 8px 0;
}

.user {
  /* border: 1px solid rgb(206, 199, 199); */
  display: flex;
  padding: 8px;
  width: 50%;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 4px;

  background: white;
}

.user a {
  text-decoration: none;
  color: black;
}

.user a:hover {
  color: gray;
}

.username {
  /* border: 1px solid green; */
  padding: 2px 6px;
  font-size: 0.8rem;
}

.follow-btn {
  background: rgb(116, 116, 248);
  color: white;
  padding: 2px 6px;
  font-size: 0.8rem;
  border-radius: 4px;
  font-weight: bold;

  border: none;

  cursor: pointer;
}

.follow-btn:hover {
  background: rgb(104, 104, 245);
}
